numpy
pandas

# visualisations
matplotlib
seaborn

# models 
torch
torchvision
torchaudio
scikit-learn
sktime
sktime-dl

# rocket git repo
numba
scikit-posthocs
mrseql

# data processing
tqdm
aeon

# sktime extra dependencies
pmdarima
tbats
prophet